{% extends 'cargoapp/base.html' %}

{% block content %}
<nav class="fixed-bottom navbar-dark bg-dark">
	<a class="navbar-brand" href="{% url 'accrual_deduction_list'%}">Назад</a>
</nav>
<div class="row pt-1">
	<div class="col-12 my-auto" align="right">Логист: {{ user.username }}</div>
</div>
<div class="row justify-content-center mt-2 mb-6">
	<div align="center">
	</div>
    <form class="col-10 col-sm-8 col-md-10 col-lg-6 mb-5" method="POST" id="accrualForm" action="{% url 'save_accrual_deduction' uid=accrual_deduction.uid %}">
		{% csrf_token %}
        <div class="form-group row mt-4">
			<label for="input_date" class="col-md-2 col-form-label">Дата</label>
			<div class="col-md-4">
				<input type="date" class="form-control"  value="{{ accrual_deduction.date|date:'Y-m-d' }}" name="input_date" id="input_date" required>
			</div>
			<label for="input_sum" class="col-md-2 col-form-label">Сумма</label>
			<div class="col-md-4">
				<input type="text" class="form-control" name="input_sum" id="input_sum" value="{{ accrual_deduction.sum }}" required>
			</div>
		</div>
        <div class="form-group row mt-4">
			<label for="input_vehicle" class="col-md-2 col-form-label">Автомобиль</label>
			<div class="col-md-4">
				<select class="js-example-basic-single form-control" name="input_vehicle" id="input_vehicle" required>
                    <option selected value="{{ accrual_deduction.vehicle.uid }}">{{ accrual_deduction.vehicle }}</option>
					{% for item in vehicles %}
					<option value="{{ item.uid }}">{{ item }} - {{ item.driver }}</option>
					{% endfor %}
				</select>
			</div>
            <label for="input_vehicle" class="col-md-2 col-form-label">Водитель</label>
			<div class="col-md-4">
				<select class="js-example-basic-single form-control" name="input_driver" id="input_driver">
                    <option selected value="{{ accrual_deduction.driver.uid }}">{{ accrual_deduction.driver }}</option>
				</select>
			</div>
		</div>
        <div class="form-group row mt-4">
			<label for="input_reason" class="col-md-2 col-form-label">Причина</label>

			<div class="col-md-4">
				<select class="js-example-basic-single form-control" name="input_reason" id="input_reason">
                    <option selected value="{{ accrual_deduction.reason.id }}">{{ accrual_deduction.reason }}</option>
					{% for item in reasons %}
					<option value="{{ item.id }}">{{ item.title }}</option>
					{% endfor %}
				</select>
			</div>
            <label for="input_type" class="col-md-2 col-form-label">Тип</label>
			<div class="col-md-4">
				<select class="js-example-basic-single form-control" name="input_type" id="input_type">
                    {% if accrual_deduction.type == '1' %}
                    <option selected value="{{ accrual_deduction.type }}">Начисление</option>
                    {% elif accrual_deduction.type == '0' %}
                    <option selected value="{{ accrual_deduction.type }}">Вычет</option>
                    {% endif %}
					{% for item in types %}
					<option value="{{ item.0 }}">{{ item.1 }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
        <div class="row justify-content-end mt-4">
			<div class="form-group col-4 d-grid gap-2" align="right">
				<button type="submit" class="btn btn-primary" form="accrualForm">Сохранить</button>
			</div>
		</div>
    </form>    
</div>    
{% endblock %}