{% extends 'cargoapp/main_style/main_base.html'%}
{% block title %}
Запросы.
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col mx-auto">
            <form name="form__2-3" class="w-100 form__2-3">
                <div class="input-group">
                    <input type="text" name="form__2-3__input-1" id="form__2-3__input-1" class="form-control text-center bg-warning form__2-3__input" placeholder="н 320 ук 716rus" readonly>
                </div>
                <div class="input-group mt-1">
                    <input type="text" name="form__2-3__input-2" id="form__2-3__input-2" class="form-control text-center bg-warning form__2-3__input" placeholder="8456 ВА" readonly>
                </div>
                <div class="input-group mt-1">
                    <input type="text" name="form__2-3__input-3" id="form__2-3__input-3" class="form-control text-center bg-warning form__2-3__input" readonly>
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text">с даты</span>
                    <input type="date" name="form__2-3__input-4" id="form__2-3__input-4" class="form-control text-center form__2-3__input">
                </div>
                <div class="input-group mt-1">
                    <input type="text" name="form__2-3__input-5" id="form__2-3__input-5" class="form-control text-center form__2-3__input" placeholder="ФИО Водителя">
                </div>
                <div class="input-group mt-1">
                    <input type="tel" name="form__2-3__input-6" id="form__2-3__input-6" class="form-control text-center form__2-3__input" placeholder="Телефон">
                </div>
                <div class="input-group mt-1 mb-3">
                    <input type="text" name="form__2-3__input-7" id="form__2-3__input-7" class="form-control text-center form__2-3__input" placeholder="База 3">
                </div>
                <div class="d-grid gap-2 mt-3 mb-3">
                    <button type="submit" name="form__2-3__button-1" id="form__2-3__button-1" class="btn btn-lg btn-primary form__2-3__button" value="Передать ТС"><a href="{% url 'driver_shift_change_hand_over_acc' %}">Передать ТС</a></button>
                    <button type="submit" name="form__2-3__button-2" id="form__2-3__button-2" class="btn btn-lg btn-outline-primary form__2-3__button" value="Исправить">Исправить</button>
                    <button type="submit" name="form__2-3__button-3" id="form__2-3__button-3" class="btn btn-lg btn-warning form__2-3__button" value="Принять ТС"><a href="{% url 'driver_shift_change_accept_acc' %}">Принять ТС</a></button>
                </div>
                <div class="input-group mt-1">
                    <input type="text" name="form__2-3__input-8" id="form__2-3__input-8" class="form-control text-center form__2-3__input" placeholder="ФИО Водителя">
                    </div>
                <div class="input-group mt-1">
                    <input type="tel" name="form__2-3__input-9" id="form__2-3__input-9" class="form-control text-center form__2-3__input" placeholder="Телефон">
                </div>
                <div class="input-group mt-1">
                    <input type="text" name="form__2-3__input-10" id="form__2-3__input-10" class="form-control text-center form__2-3__input" placeholder="Воротный" readonly>
                </div>
                <div class="input-group mt-1">
                    <input type="text" name="form__2-3__input-11" id="form__2-3__input-11" class="form-control text-center form__2-3__input" placeholder="ФИО Водителя" readonly>
                </div>
                <div class="input-group mt-1">
                    <input type="tel" name="form__2-3__input-12" id="form__2-3__input-12" class="form-control text-center form__2-3__input" placeholder="Телефон" readonly>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}