{% extends 'cargoapp/main_style/main_base.html'%}
{% block title %}
Запросы.
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col mx-auto">
            <div class="d-grid gap-2 mt-3">
                <button type="button" name="form__2-2__button-1" id="form__2-2__button-1" class="btn btn-lg btn-outline-primary mt-3 form__2-2__button" value="Внеплановый ремонт"><a href="{% url 'driver_shift_change_hand_over' %}">Передача</a></button>
                <button type="button" name="form__2-2__button-2" id="form__2-2__button-2" class="btn btn-lg btn-outline-primary mt-3 form__2-2__button" value="Запрос на выходные"><a href="{% url 'driver_shift_change_accept' %}">Прием</a></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}