<!doctype html>
<html lang="ru">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet"
              href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/select2-bootstrap.min.css' %}" />
        <script src="{% static 'js/select2.min.js' %}"></script>
        <link rel="shortcut icon"
              href="{% static "favicon.png" %}"
              type="image/png">
        {% block custom_style %}{% endblock %}
        <title>Cargo WebApp</title>
    </head>
    <body>
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        <script type="text/javascript">
      $(document).ready(function() {
        $('.js-example-basic-single').select2({
          {% comment %} width : 'resolve' {% endcomment %}
          theme : 'bootstrap'
          
        });
      });
        </script>
    </body>
</html>