{% extends 'cargoapp/base.html' %}

{% block content %}
<nav class="fixed-bottom navbar-dark bg-dark">
	<a class="navbar-brand" href="{% url 'show_index_page' %}">Назад</a>
</nav>
<div class="row pt-1">
	<div class="col-2 {% if actual_vehicle %} offset-8 {% else %} offset-10 {% endif %} my-auto" align="right">Логист: {{ user.username }}</div>
	{% if actual_vehicle %}
	<div class="col-2 my-auto" align="right">Автомобиль: {{ actual_vehicle.car_number }}</div>
	{% endif %}
</div>
<div class="row justify-content-center mt-2 mb-6">
	<div align="center">
		Новый маршрут
	</div>
	<form class="col-6" method="POST" id="routeForm" action="{% url 'route_add' %}" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group row mt-4">
			<label for="inputFrom_date" class="col-2 col-form-label">Дата С</label>
			<div class="col-4">
				<input type="date" class="form-control" name="inputFrom_date" id="inputFrom_date" required>
			</div>
			<label for="inputTo_date" class="col-2 col-form-label">Дата По</label>
			<div class="col-4">
				<input type="date" class="form-control" name="inputTo_date" id="inputTo_date" required>
			</div>
		</div>
		<div class="form-group row mt-4">
			<label for="inputA_point" class="col-2 col-form-label">Откуда</label>

			<div class="col-4">
				<select class="js-example-basic-single form-control" name="inputA_point" id="inputA_point">
					{% for item in cities %}
					<option value="{{ item.title }}">{{ item.title }}</option>
					{% endfor %}
				</select>
			</div>
			<label for="inputB_point" class="col-2 col-form-label">Куда</label>
			<div class="col-4">
				<select class="js-example-basic-single form-control" name="inputB_point" id="inputB_point">
					{% for item in cities %}
					<option value="{{ item.title }}">{{ item.title }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group row mt-4">
			<label for="inputRoute_length" class="col-2 col-form-label">Пробег, км</label>
			<div class="col-4">
				<input type="text" class="form-control" name="inputRoute_length" id="inputRoute_length">
			</div>
			<label for="inputRoute_cost" class="col-2 col-form-label">Доход, руб</label>
			<div class="col-4">
				<input type="text" class="form-control" name="inputRoute_cost" id="inputRoute_cost" >
			</div>
		</div>
		<div class="form-group row mt-4">
			<label for="inputExpenses_1" class="col-2 col-form-label">Прочие расходы, руб</label>
			<div class="col-4">
				<input type="text" class="form-control" name="inputExpenses_1" id="inputExpenses_1">
			</div>
			
		</div>

		<div class="form-group row mt-4">
			<label for="inputVehicle" class="col-2 col-form-label">Авто</label>
			<div class="col-4">
				<div class="form-group">
					<input type="text" class="form-control" name="inputVehicle" id="inputVehicle" value="{{ actual_vehicle.uid }}" hidden>
					<select class="form-control" disabled>
						<option selected >{{ actual_vehicle.car_number }}</option>
					</select>
				</div>
			</div>
			<label for="inputDriver" class="col-2 col-form-label">Водитель</label>
			<div class="col-4">
				<div class="form-group">
					<select class="form-control" id="inputDriver" name="inputDriver">
						<option value="{{ actual_driver.uid }}">{{ actual_driver }}</option>
						<option value="">...</option>
						{% for driver in drivers %}
						<option value="{{ driver.uid }}">{{ driver.title }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>

		<div class="form-group row mt-4">
			<label for="inputOrganization" class="col-2 col-form-label">Организация</label>
			<div class="col-4">
				<div class="form-group">
					<select class="form-control" id="inputOrganization" name="inputOrganization">
						<option value="">...</option>
						{% for org in organizations %}
						<option value="{{ org.uid }}">{{ org.title }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<label for="inputLogist" class="col-2 col-form-label">Логист</label>
			<div class="col-4">
				<div class="form-group">
					<input type="text" class="form-control" name="inputLogist" id="inputLogist" value="{{ user.uid }}" hidden>
					<select class="form-control" disabled>
						<option selected>{{ user.username }}</option>
					</select>
				</div>
			</div>
		</div>

		<div class="form-group row mt-4">
			<label for="inputContragent" class="col-2 col-form-label">Контрагент</label>
			<div class="col-4">
				<div class="form-group">
					<select class="form-control" id="inputContragent" name="inputContragent">
						<option value="">...</option>
						{% for contragent in contragents %}
						<option value="{{ contragent.uid }}">{{ contragent.title }} , ИНН {{ contragent.inn }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<label for="inputContract" class="col-2 col-form-label">Договор</label>
			<div class="col-4">
				<div class="form-group">
					<select class="form-control" id="inputContract" name="inputContract" disabled>
						<option >...</option>
					</select>
				</div>
			</div>
		</div>

		<div align="center" class="mt-3 mb-3">
			Документы
		</div>

		<div class="form-group row mt-4">
			<label for="inputRequest_img" class="col-2 col-form-label">Заявка</label>
			<div class="col-10">
				<div class="form-group">
					<input type="file" class="form-control" id="inputRequest_img" name="inputRequest_img">
				</div>
			</div>
		</div>
		<div class="form-group row mt-4">	
			<label for="inputLoa_img" class="col-2 col-form-label">Доверенность</label>
			<div class="col-10">
				<div class="form-group">
					<div class="input-group mb-3">
						<input type="file" class="form-control" id="inputLoa_img" name="inputLoa_img">
					</div>
				</div>	
			</div>
		</div>


		<div align="center" class="mt-3 mb-3">
			Информация о грузе
		</div>

		<div class="form-group row mt-4">
			<label for="inputWeight" class="col-2 col-form-label">Вес, кг</label>
			<div class="col-4">
				<input type="text" class="form-control" name="inputWeight" id="inputWeight">
			</div>
			<label for="inputRequest_number" class="col-2 col-form-label">Номер заявки</label>
			<div class="col-4">
				<input type="text" class="form-control" name="inputRequest_number" id="inputRequest_number">
			</div>
		</div>


		<div class="form-group row mt-4">
			<div class="form-check col-4" align="center">
				<input style="float:none; margin-right: 10px;" class="form-check-input mr-3" type="checkbox" id="inputBanner_all" name="inputBanner_all">
				<label class="form-check-label" for="inputBanner_all">
					Растентовка полная
				</label>
			</div>
			<div class="form-check col-4" align="center">
				<input  style="float:none; margin-right: 10px;" class="form-check-input mr-3" type="checkbox" id="inputBanner_side" name="inputBanner_side">
				<label class="form-check-label" for="inputBanner_side">
					Растентовка один бок
				</label>
			</div>
			<div class="form-check col-4" align="center">
				<input style="float:none; margin-right: 10px;" class="form-check-input mr-3" type="checkbox" id="inputControl_penalty" name="inputControl_penalty">
				<label class="form-check-label" for="inputControl_penalty">
					Штраф контроля
				</label>
			</div>
		</div>

		<div class="form-group row mt-4">
			<label for="inputDescription" class="col-3 col-form-label">Описание груза</label>
			<div class="col-9">
				<input type="text" class="form-control" name="inputDescription" id="inputDescription">
			</div>
		</div>

		<div class="row col-12 justify-content-end mt-4">
			<div class="form-group col-md-2 col-sm-4 pr-md-5" align="right">
				<button type="submit" class="btn btn-secondary" form="routeForm">Рассчитать</button>
			</div>
			<div class="form-group col-md-2 col-sm-4 pl-md-5" align="right">
				<button type="submit" class="btn btn-primary" form="routeForm">Сохранить</button>
			</div>
		</div>
	</form>
	<div class="pb-5"></div>
</div>
{% endblock %}
