{% extends 'cargoapp/base.html' %}

{% block content %}
<nav class="fixed-bottom navbar-dark bg-dark mt-5">
	<a class="navbar-brand" href="{% url 'show_index_page' %}">Назад</a>
</nav>
<div class="row pt-1">
	<div class="col-2 {% if route.vehicle %} offset-8 {% else %} offset-10 {% endif %} my-auto" align="right">Логист: {{ user.username }}</div>
	{% if route.vehicle %}
	<div class="col-2 my-auto" align="right">Автомобиль: {{ route.vehicle.car_number }}</div>
	{% endif %}
</div>
<div class="row justify-content-center mt-2">
	<form class="col-6" method="POST" id="routeForm" action="{% url 'route_save' uid=route.uid %}" enctype="multipart/form-data">
		{% csrf_token %}
		<div>
			<h4>#{{ route.id }}</h4>
		</div>
		<div class="form-group row mt-4">
			<label for="inputFrom_date" class="col-2 col-form-label">Дата С</label>
			<div class="col-4">
				<input type="date" class="form-control" name="inputFrom_date" id="inputFrom_date" value="{{ route.from_date|date:'Y-m-d' }}">
			</div>
			<label for="inputTo_date" class="col-2 col-form-label">Дата По</label>
			<div class="col-4">
				<input type="date" class="form-control" name="inputTo_date" id="inputTo_date" value="{{ route.to_date|date:'Y-m-d' }}">
			</div>
		</div>
		<div class="form-group row mt-4">
			<label for="inputA_point" class="col-2 col-form-label">Откуда</label>
			<div class="col-4">
				<select class="js-example-basic-single form-control" name="inputA_point" id="inputA_point">
					<option selected value="{{ route.a_point }}">{{ route.a_point }}</option>
					{% for item in cities %}
					<option value="{{ item.title }}">{{ item.title }}</option>
					{% endfor %}
				</select>
			</div>
			<label for="inputB_point" class="col-2 col-form-label">Куда</label>
			<div class="col-4">
				<select class="js-example-basic-single form-control" name="inputB_point" id="inputB_point">
					<option selected value="{{ route.b_point }}">{{ route.b_point }}</option>
					{% for item in cities %}
					<option value="{{ item.title }}">{{ item.title }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group row mt-4">
			<label for="inputRoute_length" class="col-2 col-form-label">Пробег, км</label>
			<div class="col-4">
				<input onKeyPress="inputFilter()" type="text" class="form-control" name="inputRoute_length" id="inputRoute_length" value="{{ route.route_length }}">
			</div>
			<label for="inputRoute_cost" class="col-2 col-form-label">Доход, руб</label>
			<div class="col-4">
				<input onKeyPress="inputFilter()" type="text" step="0.01" class="form-control" name="inputRoute_cost" id="inputRoute_cost" value="{{ route.route_cost }}">
			</div>
		</div>
		<div class="form-group row mt-4">
			<label for="inputExpenses_1" class="col-2 col-form-label">Прочие расходы, руб</label>
			<div class="col-4">
				<input onKeyPress="inputFilter()" type="text" class="form-control" name="inputExpenses_1" id="inputExpenses_1" value="{{ route.expenses_1 }}">
			</div>
			<label for="Pay_check" class="col-2 col-form-label">Зарплата водителя, руб</label>
			<div class="col-4">
				<input type="text" class="form-control" name="Pay_check" id="Pay_check" value="{{ route.pay_check }}" disabled>
			</div>
		</div>

		<div class="row justify-content-between mt-1">
			<label for="straight_boolean" class="col-2 col-form-label">Прямые</label>
			<div class="col-4 form-check form-switch align-self-center">
				<input {% if route.straight_boolean %}checked{% endif %} class="form-check-input" type="checkbox" role="switch" id="straight_boolean" name="inputStraight_boolean">
			</div>
			<div class="form-group col-4 d-grid gap-2">
				<button type="submit" class="btn btn-outline-primary" form="routeForm">Рассчитать</button>
			</div>
		</div>

		<div class="form-group row mt-4">
			<label for="inputVehicle" class="col-2 col-form-label">Авто</label>
			<div class="col-4">
				<div class="form-group">
					<input type="text" class="form-control" name="inputVehicle" id="inputVehicle" value="{{ route.vehicle.uid }}" hidden>
					<select class="form-control" disabled>
						{% if route.vehicle %}
						<option selected >{{ route.vehicle.car_number }}</option>
						{% endif %}
					</select>
				</div>
			</div>
			<label for="inputDriver" class="col-2 col-form-label">Водитель</label>
			<div class="col-4">
				<div class="form-group">
					<select class="form-control js-example-basic-single" id="inputDriver" name="inputDriver">
						{% if route.driver %}
						<option selected value="{{ route.driver.uid }}">{{ route.driver.title }}</option>
						<option value="">...</option>
						{% else %}
						<option value="">...</option>
						{% endif %}
						{% for driver in drivers %}
						<option value="{{ driver.uid }}">{{ driver.title }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>

		<div class="form-group row mt-4">
			<label for="inputOrganization" class="col-2 col-form-label">Организация</label>
			<div class="col-4">
				<div class="form-group">
					<select class="form-control js-example-basic-single" id="inputOrganization" name="inputOrganization">
						{% if route.organization %}
						<option selected value="{{ route.organization.uid }}">{{ route.organization.title }}</option>
						<option value="">...</option>
						{% else %}
						<option value="">...</option>
						{% endif %}
						{% for org in organizations %}
						<option value="{{ org.uid }}">{{ org.title }}</option>
						{% endfor %}
						{{ organizations }}
					</select>
				</div>
			</div>
			<label for="inputLogist" class="col-2 col-form-label">Логист</label>
			<div class="col-4">
				<div class="form-group">
					<input type="text" class="form-control" name="inputLogist" id="inputLogist" value="{{ route.logist.uid }}" hidden>
					<select class="form-control" disabled id=logistUsername>
						{% if route.logist %}
						<option selected>{{ route.logist.username }}</option>
						{% endif %}
					</select>
				</div>
			</div>
		</div>

		<div class="form-group row mt-4">
			<label for="inputContragent" class="col-2 col-form-label">Контрагент</label>
			<div class="col-4">
				<div class="form-group">
					<select class="js-example-basic-single form-control" name="inputContragent" id="inputContragent" required>
						{% if route.contragent %}
						<option value="">...</option>
						<option selected value="{{ route.contragent.uid }}">{{ route.contragent.title }}, ИНН {{ route.contragent.inn }}</option>
						{% else %}
						<option value="">...</option>
						{% endif %}
						{% for contragent in contragents %}
						<option value="{{ contragent.uid }}">{{ contragent.title }} , ИНН {{ contragent.inn }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<label for="inputContract" class="col-2 col-form-label">Договор</label>
			<div class="col-4">
				<div class="form-group">
					<select class="form-control js-example-basic-single" id="inputContract" name="inputContract" {% if not contracts and not route.contract %}disabled{% endif %} required>
						{% if route.contract %}
						<option selected value="{{ route.contract.uid }}">{{ route.contract.number }} от {{ route.contract.date  }}</option>
						<option value="">...</option>
						{% else %}
						<option value="">...</option>
						{% endif %}
						{% for contract in contracts %}
						<option value="{{ contract.uid }}">{{ contract.number }} от {{ contract.date  }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<p  id="contractErrorBlock" style="padding-left: 20px; color: red;"></p>
				</div>
			</div>
		</div>

		<div class="form-group row mt-4">
			<label for="inputContragent" class="col-2 col-form-label">Вид оплаты</label>
			<div class="col-4">
				<div class="form-group">
					<select class="js-example-basic-single form-control" name="inputPayment_type" id="inputPayment_type">
						{% if route.payment_type %}
							{% if route.payment_type == "0" %}
							<option selected value="{{ route.payment_type }}">Наличная</option>
							<option value="">...</option>
							<option value="1">Безналичная</option>
							<option value="2">По заявке</option>
							{% elif route.payment_type == "1" %}
							<option selected value="{{ route.payment_type }}">Безналичная</option>
							<option value="">...</option>
							<option value="0">Наличная</option>
							<option value="2">По заявке</option>
							{% elif route.payment_type == "2" %}
							<option selected value="{{ route.payment_type }}">По заявке</option>
							<option value="">...</option>
							<option value="0">Наличная</option>
							<option value="1">Безналичная</option>
							{% endif %}
						{% else %}
						<option value="">...</option>
						<option value="0">Наличная</option>
						<option value="1">Безналичная</option>
						<option value="2">По заявке</option>
						{% endif %}
					</select>
				</div>
			</div>
		</div>

		<div align="center" class="mt-3 mb-3">
			Документы
		</div>

		<div class="form-group row mt-4">
			<label for="inputRequest_img" class="col-2 col-form-label">Заявка</label>
			<div class="col-10">
				{% if route.request_img %}
				<div class="row">
					<div class="col-10"> 
						{% comment %} <a data-bs-toggle="modal" data-bs-target="#request_img_modal" class="form-control as-link" style="cursor: pointer;">{{ route.request_img }}</a> {% endcomment %}
						<a class="form-control as-link" style="cursor: pointer;" target="_blank" href="{{ route.request_img.url }}">{{ route.request_img }}</a>
					</div>
					<div class="col-2" align="center">
						<a href="{% url 'delete_req_img' uid=route.uid %}" class="form-control as-link" style="cursor: pointer;"><i class="fa fa-times"></i></a>
					</div>
				</div>
				{% else %}
				<div class="form-group">
					<input type="file" class="form-control" id="inputRequest_img" name="inputRequest_img">
				</div>
				{% endif %}
			</div>
		</div>
		<div class="form-group row mt-4">	
			<label for="inputLoa_img" class="col-2 col-form-label">Доверенность</label>
			<div class="col-10">
				{% if route.loa_img %}
				<div class="row">
					<div class="col-10">
						{% comment %} <a data-bs-toggle="modal" data-bs-target="#loa_img_modal" class="form-control as-link" style="cursor: pointer;">{{ route.loa_img }}</a> {% endcomment %}
						<a class="form-control as-link" style="cursor: pointer;" target="_blank" href="{{ route.loa_img.url }}">{{ route.loa_img }}</a>
					</div>
					<div class="col-2" align="center">
						<a href="{% url 'delete_loa_img' uid=route.uid %}" class="form-control as-link" style="cursor: pointer;"><i class="fa fa-times"></i></a>
					</div>
				</div>
				{% else %}
				<div class="form-group">
					<div class="input-group mb-3">
						<input type="file" class="form-control" id="inputLoa_img" name="inputLoa_img" >
					</div>
				</div>
				{% endif %}
			</div>
		</div>

		<div align="center" class="mt-3 mb-3">
			Информация о грузе
		</div>

		<div class="form-group row mt-4">
			<label for="inputWeight" class="col-2 col-form-label">Вес, кг</label>
			<div class="col-4">
				<input onKeyPress="inputFilter()" type="text" class="form-control" name="inputWeight" id="inputWeight" value="{{ route.weight }}">
			</div>
			<label for="inputRequest_number" class="col-2 col-form-label">Номер заявки</label>
			<div class="col-4">
				<input type="text" class="form-control" name="inputRequest_number" id="inputRequest_number" value="{% if route.request_number %}{{ route.request_number }}{% endif %}">
			</div>
		</div>

		<div class="form-group row mt-4 justify-content-between">
			<div class="form-check col-3" align="center">
				<input style="float:none; margin-right: 10px;" class="form-check-input mr-3" type="checkbox" id="inputBanner_a" name="inputBanner_a" {% if route.banner_a %}checked{% endif %}>
				<label class="form-check-label" for="inputBanner_all">
					Растентовка А
				</label>
			</div>
			<div class="form-check col-3" align="center">
				<input style="float:none; margin-right: 10px;" class="form-check-input mr-3" type="checkbox" id="inputBanner_b" name="inputBanner_b" {% if route.banner_b %}checked{% endif %}>
				<label class="form-check-label" for="inputBanner_all">
					Растентовка Б
				</label>
			</div>
			{% comment %} <div class="form-check col-4" align="center">
				<input style="float:none; margin-right: 10px;" class="form-check-input mr-3" type="checkbox" id="inputBanner_all" name="inputBanner_all"  {% if route.banner_all %}checked{% endif %}>
				<label class="form-check-label" for="inputBanner_all">
					Растентовка полная
				</label>
			</div> {% endcomment %}
			<div class="form-check col-3" align="center">
				<input  style="float:none; margin-right: 10px;" class="form-check-input mr-3" type="checkbox" id="inputBanner_side" name="inputBanner_side" {% if route.banner_side %}checked{% endif %}>
				<label class="form-check-label" for="inputBanner_side">
					Растентовка один бок
				</label>
			</div>
			<div class="form-check col-3" align="center">
				<input style="float:none; margin-right: 10px;" class="form-check-input mr-3" type="checkbox" id="inputControl_penalty" name="inputControl_penalty" {% if route.control_penalty %}checked{% endif %}>
				<label class="form-check-label" for="inputControl_penalty">
					Штраф контроля
				</label>
			</div>
		</div>

		<div class="form-group row mt-4">
			<label for="inputDescription" class="col-3 col-form-label">Описание груза</label>
			<div class="col-9">
				<input type="text" class="form-control" name="inputDescription" id="inputDescription" value="{% if route.cargo_description %}{{ route.cargo_description }}{% endif %}">
			</div>
		</div>

		<div align="center">
		{% for message in messages %}
			<p  style="color: red" class="text-uppercase" >* {{ message }} </p>
		{% endfor %}
		</div>
		<div class="row justify-content-end mt-4">
			<div class="form-group col-12  gap-2" align="right">
				<button type="submit" class="col-4 btn btn-outline-primary" id="saveAndExitButton" form="routeForm">Сохранить и выйти</button>
				<button type="submit" class="col-3 btn btn-primary" form="routeForm">Сохранить</button>
			</div>
		</div>
		<input type="checkbox" name="inputSaveAndExit_boolean" id="saveAndExit" hidden>
	</form>
	<div class="pb-5"></div>
</div>


<div class="modal fade" id="request_img_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="request_img_modal_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      	<div class="text-center">
      		{% if route.request_img %}
			{% comment %} <iframe src="{{ route.request_img }}" width="700" height="400"></iframe> {% endcomment %}
			<emded src="{{ route.request_img }}" />
        	{% comment %} <img src="{{ route.request_img.url }}" class="img-fluid" alt=""> {% endcomment %}
        	{% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="loa_img_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="loa_img_modal_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      	<div class="text-center">
      		{% if route.loa_img %}
        	<img src="{{ route.loa_img.url }}" class="img-fluid" alt="">
      		{% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block custom_script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript">
	
    window.onload = function() {
		$('#inputContragent').on('change', function () {
			getContract();
		});
		document.getElementById('saveAndExitButton').addEventListener('click', function(event) {
			let saveAndExit = document.getElementById('saveAndExit');
			saveAndExit.checked = true;
		}, false);
    };

	const getContract = async () => {
		let contractDIV = document.getElementById('inputContract');
		let contragentUID = document.getElementById('inputContragent');
		if (contragentUID.value == "" ) {
			contractDIV.innerHTML = "";
			contractDIV.innerHTML += `<option value="">...</option>`;
			contractDIV.disabled = true;
		} else {
			let response = await axios.get(`/api/v1/get-contracts/${contragentUID.value}/`)
                .then((contractList) => {
					if (contractList.length == 0) {
						contractErrorBlock = document.getElementById("contractErrorBlock");
						contractErrorBlock.innerHTML = "У контрагента нет активных договоров!";
					} else {
						contractErrorBlock = document.getElementById("contractErrorBlock");
						contractErrorBlock.innerHTML = "";
						contractDIV.innerHTML = "";
						contractDIV.disabled = false;
						contractList.data.forEach(item => {
							contractDIV.innerHTML += `<option value="${item.uid}">${item.number} от ${item.date}</option>`;
						});
					}
					
                }).catch((error) => {
					contractErrorBlock = document.getElementById("contractErrorBlock");
					contractErrorBlock.innerHTML = "Ошибка сервера!";
        	})

		}
		
	}; 

	function inputFilter(){
		if (event.keyCode < 48 || event.keyCode > 57) {
			if (event.keyCode != 46){
				event.returnValue= false;
			}
		}
		
	};

</script>	
{% endblock %}