{% extends 'cargoapp/base.html' %}

{% block content %}
<div id="preloader" class="hidden" align="center" style="opacity: .7;">
    <div class="spinner-border" role="status" style="margin-top:15%;">
        {% comment %} <span class="sr-only">Loading...</span> {% endcomment %}
    </div>
</div>
<div class="row justify-content-center">
    <div class="row col-12 col-md-12 col-xl-12 mt-4 justify-content-center">
        <div class="col-12 col-md-12 col-xl-12 row justify-content-center p-0">
            
            <div class="btn-group col-2">
                <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Авто (4)
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'show_index_page'%}">Статистика авто</a></li>
                  <li><a class="dropdown-item" href="{% url 'show_line_release_list' %}">Выпуск авто на линию</a></li>
                  <li><a class="dropdown-item" href="{% url 'show_scheduled_repair_list' %}">Плановый ремонт</a></li>
                  <li><a class="dropdown-item" href="{% url 'columnar_extra_repair' %}">Внеплановый ремонт <span style="padding-left: 20px; color: red;">4</span></a></li>
                  <li><a class="dropdown-item" href="#">Список авто</a></li>
                  <li><a class="dropdown-item" href="{% url 'columnar_shift_change_list' %}">Прием / Передача <span style="padding-left: 20px; color: red;">6</span></a></li>
                </ul>
            </div>

            <div class="btn-group col-2">
                <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Водители
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'accrual_deduction_list'%}">Начисление/Вычет</a></li>
                  <li><a class="dropdown-item" href="{% url 'columnar_holiday_requests' %}">Запрос на выходные <span style="padding-left: 20px; color: red;">3</span></a></li>
                </ul>
            </div>

            <div class="btn-group col-2">
                <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Отчеты
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'health_safety_journal_menu' %}">Журналы</a></li>
                  <li><a class="dropdown-item" href="{% url 'columnar_maintenance_schedule_menu'%}">Графики ТО</a></li>
                  <li><a class="dropdown-item" href="{% url 'documents_menu' %}">Документы</a></li>
                  <li><a class="dropdown-item" href="{% url 'chief_column_daily_report' %}">Ежедневный отчет</a></li>
                  <li><a class="dropdown-item" href="#">Уведомление</a></li>
                </ul>
            </div>

            <div class="btn-group col-2">
                <a class="btn btn-outline-dark" target="_blank" href="https://padlet.com/o2rusrt116/fv6jazyjpyq5fnkm" >Написать разработчику</a>
            </div>

            <div class="btn-group col-2">
                <a class="btn btn-outline-danger" target="_blank" href="{% url 'show_autograph_upload_menu' %}" >Загрузка данных</a>
            </div>

            <div class="btn-group col-2">
                <a class="btn btn-outline-primary" href="" data-bs-toggle="modal" data-bs-target="#modalLogout">Выйти</a>
            </div>
        </div> 
    </div>
    <div class="row col-12 col-md-12 col-xl-12 justify-content-center mt-4 mb-4">

        <div class="col-12 col-md-12 col-xl-12 shadow pb-5 row justify-content-center">
            <div class="col-12 col-md-12 col-xl-12 mb-3 mt-3">
                <form id="filterForm" class="form-group row" method="GET" action="{% url 'show_menu_page' %}">
                    <label for="columnar" class="col-1 col-form-label">Ответственный</label>
                    <div class="col-3 align-self-center">
                        <div class="form-group">
                            <select class="js-example-basic-single form-control" name="user_uid" id="user_uid">
                                {% if actual_user %}
                                <option selected value="{{ actual_user.uid }}">{{ actual_user }}</option>
                                {% endif %}
                                <option {% if not actual_user %}selected{% endif %} value="">...</option>
                                <optgroup label="Колонные">
                                {% for columnar in columnars %}
                                <option value="{{ columnar.uid }}">{{ columnar.username }}</option>
                                {% endfor %}
                                </optgroup>
                                <optgroup label="Начальники колонных">
                                    {% for item in chief_columns %}
                                    <option value="{{ item.uid }}">{{ item.username }}</option>
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Логисты">
                                    {% for item in logists %}
                                    <option value="{{ item.uid }}">{{ item.username }}</option>
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Начальники логистов">
                                    {% for item in logist_sv %}
                                    <option value="{{ item.uid }}">{{ item.username }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <label for="status" class="col-1 col-form-label">Статус</label>
                    <div class="col-3 align-self-center">
                        <div class="form-group">
                            <select class="js-example-basic-single form-control" name="status" id="status">
                                {% if actual_status %}
                                <option selected value="{{ actual_status }}">{{ actual_status }}</option>
                                {% endif %}
                                <option {% if not actual_status %}selected{% endif %} value="">...</option>
                                {% for status in statuses %}
                                <option value="{{ status }}">{{ status }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-2 align-self-center">
                        <button id="submitButton" type="submit" form="filterForm" class="btn btn-dark btn-sm">Отбор</button>
                    </div>
                </form>    
            </div>
            <div class="col-9 col-md-9 col-xl-9">
                {{ map | safe }}
            </div>
            <div class="col-3 col-md-3 col-xl-3 columnar-vehicle-list">
                {% if vehicles_list %}
                {% for item in vehicles_list %}
                <a href="{% url 'columnar_vehicle_condition' %}" style="text-decoration: none;">
                    <div class="alert alert-primary" role="alert">
                        {{ item.car_number }}
                        <span class="badge rounded-pill" style="margin-left: 5%; background-color: {{ item.status.color }};">{{ item.status }}</span>
                        {% comment %} <span class="badge rounded-pill bg-light text-dark">(1)</span> {% endcomment %}
                    </div>
                </a>
                {% endfor %}
                {% else %}
                <div class="alert alert-warning" role="alert">
                    Автомобили с данными параметрами отбора не найдены...
                </div>
                {% endif %}
            </div>    
        </div>
    </div>        
</div> 


<div class="modal fade" id="modalLogout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLogoutLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="modalLogoutLabel">Вы уверены что хотите выйти?</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
		  <a href="{% url 'logout' %}" class="btn btn-primary">Выйти</a>
		</div>
	  </div>
	</div>
</div>
{% endblock %}

{% block custom_script %}

<script type="text/javascript">
	
    window.onload = function() {
		document.getElementById('submitButton').addEventListener('click', (event) => {
            let preloaderEl = document.getElementById('preloader');
            preloaderEl.classList.add('visible');
            preloaderEl.classList.remove('hidden');
            event.preventDefault();
            let submitForm = document.getElementById('filterForm');
            filterForm.submit();
        }, false);
    };


</script>	
{% endblock %}