{% extends 'cargoapp/base.html' %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-11 col-md-8 col-xl-6 shadow pt-5 pb-5 row justify-content-center">

        <div class="col-12 row justify-content-center mb-2">
            <a class="btn btn-warning col-10 col-md-8 col-xl-6 " href="{% url 'holiday_requests' %}" >Запросы на выходные</a>
        </div>

        <div class="col-12 row justify-content-center mb-2 mt-2">
            <a class="btn btn-outline-primary col-10 col-md-8 col-xl-6" href="" data-bs-toggle="modal" data-bs-target="#modalLogout">Выйти</a>
        </div>

    </div> 
</div> 

<div class="modal fade" id="modalLogout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLogoutLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="modalLogoutLabel">Вы уверены что хотите выйти?</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
		  <a href="{% url 'logout' %}" class="btn btn-primary">Выйти</a>
		</div>
	  </div>
	</div>
</div>
{% endblock %}