{% extends 'cargoapp/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="row col-12 col-md-4 col-xl-3 justify-content-center mt-4">
        <div class="col-12 col-md-11 col-xl-11 shadow pt-5 pb-5 row justify-content-center">
    
            <div class="col-12 row justify-content-center mb-2">
                <a class="btn btn-warning col-11" href="{% url 'show_index_page'%}" >Статистика авто</a>
            </div>
    
            <div class="col-12 row justify-content-center mb-2">
                <a class="btn btn-outline-dark col-11" href="{% url 'columnar_daily_report' %}" >Ежедневный отчет</a>
            </div>
    
            <div class="col-12 row justify-content-center mb-2">
                <a class="btn btn-outline-dark col-11" href="#" >В маршруте</a>
            </div>
    
            <div class="col-12 row justify-content-center mb-2">
                <a class="btn btn-outline-dark col-11" href="{% url 'columnar_extra_repair' %}" >Внеплановый ремонт <span style="padding-left: 20px; color: red;">4</span></a>
                
            </div>
    
            <div class="col-12 row justify-content-center mb-2">
                <a class="btn btn-outline-dark col-11" href="#" >Плановый ремонт</a>
            </div>
    
            <div class="col-12 row justify-content-center mb-2">
                <a class="btn btn-outline-dark col-11" href="{% url 'columnar_holiday_requests' %}" >Запрос на выходные <span style="padding-left: 20px; color: red;">3</span></a>
            </div>
    
            <div class="col-12 row justify-content-center mb-2">
                <a class="btn btn-outline-dark col-11" href="{% url 'columnar_shift_change_list' %}" >Прием / Передача <span style="padding-left: 20px; color: red;">6</span></a>
            </div>
    
            <div class="col-12 row justify-content-center mb-2">
                <a class="btn btn-outline-dark col-11" href="#" >Пересменка</a>
            </div>

            <div class="col-12 row justify-content-center mb-2">
                <a class="btn btn-outline-dark col-11" href="{% url 'columnar_maintenance_schedule_menu'%}" >Графики ТО</a>
            </div>
    
            <div class="col-12 row justify-content-center mb-2">
                <a class="btn btn-outline-danger col-11" href="{% url 'show_autograph_upload_menu' %}" >Загрузка данных</a>
            </div>
            
            <div class="col-12 row justify-content-center mb-2 mt-2">
                <a class="btn btn-outline-primary col-11" href="" data-bs-toggle="modal" data-bs-target="#modalLogout">Выйти</a>
            </div>
    
        </div> 
    </div>
    <div class="row col-12 col-md-8 col-xl-9 justify-content-center mt-4">
        <div class="col-12 col-md-12 col-xl-12 shadow pt-5 pb-5 row justify-content-center">
            <div class="col-10 col-md-10 col-xl-10">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A0ed832c6b2691bef1306d4c5cca96d0a94dd71c33ed8c4f9b100f99abd69176d&amp;source=constructor" width="100%" height="700" frameborder="0"></iframe>
            </div>
            <div class="col-2 col-md-2 col-xl-2">
                <div class="alert alert-primary" role="alert">
                    в456вв 
                    <span class="badge rounded-pill bg-primary" style="margin-left: 15%;">На линии</span>
                    <span class="badge rounded-pill bg-light text-dark">(1)</span>
                </div>
                <div style="background-color: #aa80ff;" class="alert alert-secondary" role="alert">
                    а555аа <span class="badge rounded-pill bg-primary" style="margin-left: 15%;">Встал по ДТП </span>
                    <span class="badge rounded-pill bg-light text-dark">(1)</span>
                </div>
                <div class="alert alert-success" role="alert">
                    т345ее <span class="badge rounded-pill bg-primary" style="margin-left: 15%;">Без водителя </span>
                    <span class="badge rounded-pill bg-light text-dark">(2)</span>
                </div>
                <div class="alert alert-danger" role="alert">
                    а888аа <span class="badge rounded-pill bg-primary" style="margin-left: 15%;">Без водителя</span>
                    <span class="badge rounded-pill bg-light text-dark">(2)</span>
                </div>
                <div class="alert alert-warning" role="alert">
                    е667ар <span class="badge rounded-pill bg-primary" style="margin-left: 15%;">Выходной</span>
                    <span class="badge rounded-pill bg-light text-dark">(1)</span>
                </div>
                
            </div>    
        </div>
    </div>        
</div> 


<div class="modal fade" id="modalLogout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLogoutLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="modalLogoutLabel">Вы уверены что хотите выйти?</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
		  <a href="{% url 'logout' %}" class="btn btn-primary">Выйти</a>
		</div>
	  </div>
	</div>
</div>
{% endblock %}