{% extends 'cargoapp/main_style/main_base.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form action="send_form__2-13.py" name="form__2-13" class="form__2-13">
                <input type="text" name="form__2-13__input-1" id="form__2-13__input-1" class="form__2-13__input" placeholder="н 320 ук716rus">
                <input type="text" name="form__2-13__input-2" id="form__2-13__input-2" class="form__2-13__input" placeholder="8088 AA">
                <input type="text" name="form__2-13__input-3" id="form__2-13__input-3" class="form__2-13__input" placeholder="" disabled>
                <input type="text" name="form__2-13__input-4" id="form__2-13__input-4" class="form__2-13__input" placeholder="Автошины тягач" disabled>

                <div class="row">
                    <p class="col">Место установки</p>
                    <p class="col">Марка</p>
                    <p class="col">Давление</p>
                    <p class="col">Остаток протектора</p>
                </div>

                <div class="row">
                    <input type="text" name="form__2-13__input-1-1" id="form__2-13__input-1-1" class="form__2-13__input" placeholder="М (ПП)">
                    <input type="text" name="form__2-13__input-1-2" id="form__2-13__input-1-2" class="form__2-13__input" placeholder="С/Н">
                    <input type="number" name="form__2-13__input-1-3" id="form__2-13__input-1-3" class="form__2-13__input" min="0" max="100" step="0.1" value="8.9" placeholder="8.9">
                    <input type="number" name="form__2-13__input-1-4" id="form__2-13__input-1-4" class="form__2-13__input" min="0" max="100" value="10" placeholder="">
                </div>
                <div class="row">
                    <input type="text" name="form__2-13__input-2-1" id="form__2-13__input-2-1" class="form__2-13__input" placeholder="М (ПЛ)">
                    <input type="text" name="form__2-13__input-2-2" id="form__2-13__input-2-2" class="form__2-13__input" placeholder="С/Н">
                    <input type="number" name="form__2-13__input-2-3" id="form__2-13__input-2-3" class="form__2-13__input" min="0" max="100" step="0.1" value="8.9" placeholder="8.9">
                    <input type="number" name="form__2-13__input-2-4" id="form__2-13__input-2-4" class="form__2-13__input" min="0" max="100" value="10" placeholder="">
                </div>
                <div class="row">
                    <input type="text" name="form__2-13__input-3-1" id="form__2-13__input-3-1" class="form__2-13__input" placeholder="М (ЗПН)">
                    <input type="text" name="form__2-13__input-3-2" id="form__2-13__input-3-2" class="form__2-13__input" placeholder="С/Н">
                    <input type="number" name="form__2-13__input-3-3" id="form__2-13__input-3-3" class="form__2-13__input" min="0" max="100" step="0.1" value="8.9"  placeholder="8.9">
                    <input type="number" name="form__2-13__input-3-4" id="form__2-13__input-3-4" class="form__2-13__input" min="0" max="100" value="10" placeholder="">
                </div>
                <div class="row">
                    <input type="text" name="form__2-13__input-4-1" id="form__2-13__input-4-1" class="form__2-13__input" placeholder="М (ЗПВ)">
                    <input type="text" name="form__2-13__input-4-2" id="form__2-13__input-4-2" class="form__2-13__input" placeholder="С/Н">
                    <input type="number" name="form__2-13__input-4-3" id="form__2-13__input-4-3" class="form__2-13__input" min="0" max="100" step="0.1" value="8.9"  placeholder="8.9">
                    <input type="number" name="form__2-13__input-4-4" id="form__2-13__input-4-4" class="form__2-13__input" min="0" max="100" value="10" placeholder="">
                </div>
                <div class="row">
                    <input type="text" name="form__2-13__input-5-1" id="form__2-13__input-5-1" class="form__2-13__input" placeholder="М (ЗЛВ)">
                    <input type="text" name="form__2-13__input-5-2" id="form__2-13__input-5-2" class="form__2-13__input" placeholder="С/Н">
                    <input type="number" name="form__2-13__input-5-3" id="form__2-13__input-5-3" class="form__2-13__input" min="0" max="100" step="0.1" value="8.9"  placeholder="8.9">
                    <input type="number" name="form__2-13__input-5-4" id="form__2-13__input-5-4" class="form__2-13__input" min="0" max="100" value="10" placeholder="">
                </div>
                <div class="row">
                    <input type="text" name="form__2-13__input-6-1" id="form__2-13__input-6-1" class="form__2-13__input" placeholder="М (ЗЛН)">
                    <input type="text" name="form__2-13__input-6-2" id="form__2-13__input-6-2" class="form__2-13__input" placeholder="С/Н">
                    <input type="number" name="form__2-13__input-6-3" id="form__2-13__input-6-3" class="form__2-13__input" min="0" max="100" step="0.1" value="8.9"  placeholder="8.9">
                    <input type="number" name="form__2-13__input-6-4" id="form__2-13__input-6-4" class="form__2-13__input" min="0" max="100" value="10" placeholder="">
                </div>

                <input type="text" name="form__2-13__input-g1" id="form__2-13__input-g1" class="form__2-13__input" placeholder="Запасное колесо" disabled>
                <div class="row">
                    <label for="form__2-13__radio-g1-1" class="form__2-13__label">
                        <input type="radio" name="form__2-13__radio-g1" id="form__2-13__radio-g1-1" class="form__2-13__radio" value="Да">Да
                    </label>
                    <label for="form__2-13__radio-g1-2" class="form__2-13__label">
                        <input type="radio" name="form__2-13__radio-g1" id="form__2-13__radio-g1-2" class="form__2-13__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-13__input-g2" id="form__2-13__input-g2" class="form__2-13__input" placeholder="Поримечание по шинам" disabled>
                <textarea name="form__2-13__textarea-g2" id="form__2-13__textarea-g2" class="form__2-13__textarea" cols="30" rows="10" placeholder="Комментарий"></textarea>

                <div class="row">
                    <p class="col">Место установки</p>
                    <p class="col">Марка</p>
                    <p class="col">Давление</p>
                    <p class="col">Остаток протектора</p>
                </div>

                <div class="row">
                    <input type="text" name="form__2-13__input-7-1" id="form__2-13__input-7-1" class="form__2-13__input" placeholder="М (ПП)">
                    <input type="text" name="form__2-13__input-7-2" id="form__2-13__input-7-2" class="form__2-13__input" placeholder="С/Н">
                    <input type="number" name="form__2-13__input-7-3" id="form__2-13__input-7-3" class="form__2-13__input" min="0" max="100" step="0.1" value="8.9"  placeholder="8.9">
                    <input type="number" name="form__2-13__input-7-4" id="form__2-13__input-7-4" class="form__2-13__input" min="0" max="100" value="10" placeholder="">
                </div>
                <div class="row">
                    <input type="text" name="form__2-13__input-8-1" id="form__2-13__input-8-1" class="form__2-13__input" placeholder="М (ПЛ)">
                    <input type="text" name="form__2-13__input-8-2" id="form__2-13__input-8-2" class="form__2-13__input" placeholder="С/Н">
                    <input type="number" name="form__2-13__input-8-3" id="form__2-13__input-8-3" class="form__2-13__input" min="0" max="100" step="0.1" value="8.9"  placeholder="8.9">
                    <input type="number" name="form__2-13__input-8-4" id="form__2-13__input-8-4" class="form__2-13__input" min="0" max="100" value="10" placeholder="">
                </div>
                <div class="row">
                    <input type="text" name="form__2-13__input-9-1" id="form__2-13__input-9-1" class="form__2-13__input" placeholder="М (ЗПН)">
                    <input type="text" name="form__2-13__input-9-2" id="form__2-13__input-9-2" class="form__2-13__input" placeholder="С/Н">
                    <input type="number" name="form__2-13__input-9-3" id="form__2-13__input-9-3" class="form__2-13__input" min="0" max="100" step="0.1" value="8.9"  placeholder="8.9">
                    <input type="number" name="form__2-13__input-9-4" id="form__2-13__input-9-4" class="form__2-13__input" min="0" max="100" value="10" placeholder="">
                </div>
                <div class="row">
                    <input type="text" name="form__2-13__input-10-1" id="form__2-13__input-10-1" class="form__2-13__input" placeholder="М (ЗПВ)">
                    <input type="text" name="form__2-13__input-10-2" id="form__2-13__input-10-2" class="form__2-13__input" placeholder="С/Н">
                    <input type="number" name="form__2-13__input-10-3" id="form__2-13__input-10-3" class="form__2-13__input" min="0" max="100" step="0.1" value="8.9"  placeholder="8.9">
                    <input type="number" name="form__2-13__input-10-4" id="form__2-13__input-10-4" class="form__2-13__input" min="0" max="100" value="10" placeholder="">
                </div>
                <div class="row">
                    <input type="text" name="form__2-13__input-11-1" id="form__2-13__input-11-1" class="form__2-13__input" placeholder="М (ЗЛВ)">
                    <input type="text" name="form__2-13__input-11-2" id="form__2-13__input-11-2" class="form__2-13__input" placeholder="С/Н">
                    <input type="number" name="form__2-13__input-11-3" id="form__2-13__input-11-3" class="form__2-13__input" min="0" max="100" step="0.1" value="8.9"  placeholder="8.9">
                    <input type="number" name="form__2-13__input-11-4" id="form__2-13__input-11-4" class="form__2-13__input" min="0" max="100" value="10" placeholder="">
                </div>
                <div class="row">
                    <input type="text" name="form__2-13__input-12-1" id="form__2-13__input-12-1" class="form__2-13__input" placeholder="М (ЗЛН)">
                    <input type="text" name="form__2-13__input-12-2" id="form__2-13__input-12-2" class="form__2-13__input" placeholder="С/Н">
                    <input type="number" name="form__2-13__input-12-3" id="form__2-13__input-12-3" class="form__2-13__input" min="0" max="100" step="0.1" value="8.9"  placeholder="8.9">
                    <input type="number" name="form__2-13__input-12-4" id="form__2-13__input-12-4" class="form__2-13__input" min="0" max="100" value="10" placeholder="">
                </div>

                <input type="text" name="form__2-13__input-g3" id="form__2-13__input-g3" class="form__2-13__input" placeholder="Запасное колесо" disabled>
                <div class="row">
                    <label for="form__2-13__radio-g3-1" class="form__2-13__label">
                        <input type="radio" name="form__2-13__radio-g3" id="form__2-13__radio-g3-1" class="form__2-13__radio" value="Да">Да
                    </label>
                    <label for="form__2-13__radio-g3-2" class="form__2-13__label">
                        <input type="radio" name="form__2-13__radio-g3" id="form__2-13__radio-g3-2" class="form__2-13__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-13__input-g4" id="form__2-13__input-g4" class="form__2-13__input" placeholder="Поримечание по шинам ППЦ" disabled>
                <textarea name="form__2-13__textarea-g4" id="form__2-13__textarea-g4" class="form__2-13__textarea" cols="30" rows="10" placeholder="Комментарий"></textarea>

                <div class="row">
                    <button form="id_form" type="submit" name="form__2-13__button-1" id="form__2-13__button-1" class="form__2-13__button" value="Назад">Назад</button>
                    <button form="id_form" type="submit" name="form__2-13__button-2" id="form__2-13__button-2" class="form__2-13__button" value="Далее"><a href="{% url 'gate_shift_change_inspection_6' %}">Далее</a></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}