{% extends 'cargoapp/main_style/main_base.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form action="send_form__2-10.py" name="form__2-10" class="form__2-10">
                <input type="text" name="form__2-10__input-1" id="form__2-10__input-1" class="form__2-10__input" placeholder="н 320 ук716rus">
                <input type="text" name="form__2-10__input-2" id="form__2-10__input-2" class="form__2-10__input" placeholder="8088 AA">
                <input type="text" name="form__2-10__input-3" id="form__2-10__input-3" class="form__2-10__input" placeholder="" disabled>

                <input type="text" name="form__2-10__input-4" id="form__2-10__input-4" class="form__2-10__input" placeholder="Комплектность тягача" disabled>

                <input type="text" name="form__2-10__input-g1" id="form__2-10__input-g1" class="form__2-10__input" placeholder="масла на долив 5л" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g1-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g1" id="form__2-10__radio-g1-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g1-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g1" id="form__2-10__radio-g1-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g2" id="form__2-10__input-g2" class="form__2-10__input" placeholder="Запасные автолампы" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g2-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g2" id="form__2-10__radio-g2-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g2-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g2" id="form__2-10__radio-g2-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g3" id="form__2-10__input-g3" class="form__2-10__input" placeholder="Домкрат" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g3-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g3" id="form__2-10__radio-g3-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g3-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g3" id="form__2-10__radio-g3-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g4" id="form__2-10__input-g4" class="form__2-10__input" placeholder="Шланг подкачки" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g4-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g4" id="form__2-10__radio-g4-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g4-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g4" id="form__2-10__radio-g4-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g5" id="form__2-10__input-g5" class="form__2-10__input" placeholder="Набор инстр. * отвёр" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g5-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g5" id="form__2-10__radio-g5-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g5-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g5" id="form__2-10__radio-g5-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g6" id="form__2-10__input-g6" class="form__2-10__input" placeholder="Балонный ключ" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g6-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g6" id="form__2-10__radio-g6-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g6-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g6" id="form__2-10__radio-g6-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g7" id="form__2-10__input-g7" class="form__2-10__input" placeholder="Ключ подъ. кабины" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g7-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g7" id="form__2-10__radio-g7-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g7-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g7" id="form__2-10__radio-g7-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g8" id="form__2-10__input-g8" class="form__2-10__input" placeholder="Транспортер" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g8-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g8" id="form__2-10__radio-g8-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g8-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g8" id="form__2-10__radio-g8-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g9" id="form__2-10__input-g9" class="form__2-10__input" placeholder="Платон есть?" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g9-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g9" id="form__2-10__radio-g9-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g9-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g9" id="form__2-10__radio-g9-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g10" id="form__2-10__input-g10" class="form__2-10__input" placeholder="Платон работает?" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g10-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g10" id="form__2-10__radio-g10-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g10-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g10" id="form__2-10__radio-g10-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g11" id="form__2-10__input-g11" class="form__2-10__input" placeholder="Рабочий тел" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g11-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g11" id="form__2-10__radio-g11-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g11-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g11" id="form__2-10__radio-g11-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-5" id="form__2-10__input-5" class="form__2-10__input" placeholder="Топл карты кол-во" disabled>
                <select name="form__2-10__select-1" id="form__2-10__select-1" class="form__2-10__select">
                    <option value="1">null</option>
                    <option value="2">null</option>
                    <option value="3">null</option>
                    <option value="4">null</option>
                    <option value="5">null</option>
                    <option value="6">null</option>
                    <option value="7">null</option>
                    <option value="8">null</option>
                    <option value="9">null</option>
                    <option value="10">null</option>
                </select>

                <input type="text" name="form__2-10__input-g12" id="form__2-10__input-g12" class="form__2-10__input" placeholder="Мап карта" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g12-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g12" id="form__2-10__radio-g12-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g12-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g12" id="form__2-10__radio-g12-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g13" id="form__2-10__input-g13" class="form__2-10__input" placeholder="Ув. пред-пред деятель" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g13-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g13" id="form__2-10__radio-g13-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g13-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g13" id="form__2-10__radio-g13-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g14" id="form__2-10__input-g14" class="form__2-10__input" placeholder="Калибровка TAX" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g14-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g14" id="form__2-10__radio-g14-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g14-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g14" id="form__2-10__radio-g14-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g15" id="form__2-10__input-g15" class="form__2-10__input" placeholder="ОСАГО" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g15-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g15" id="form__2-10__radio-g15-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g15-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g15" id="form__2-10__radio-g15-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g16" id="form__2-10__input-g16" class="form__2-10__input" placeholder="Карта шинная лига" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g16-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g16" id="form__2-10__radio-g16-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g16-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g16" id="form__2-10__radio-g16-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g17" id="form__2-10__input-g17" class="form__2-10__input" placeholder="Транспондер" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g17-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g17" id="form__2-10__radio-g17-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g17-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g17" id="form__2-10__radio-g17-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g18" id="form__2-10__input-g18" class="form__2-10__input" placeholder="Аварийный знак" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g18-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g18" id="form__2-10__radio-g18-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g18-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g18" id="form__2-10__radio-g18-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g19" id="form__2-10__input-g19" class="form__2-10__input" placeholder="Противо откат" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g19-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g19" id="form__2-10__radio-g19-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g19-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g19" id="form__2-10__radio-g19-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-6" id="form__2-10__input-6" class="form__2-10__input" placeholder="Комплектность ППЦ" disabled>

                <input type="text" name="form__2-10__input-g20" id="form__2-10__input-g20" class="form__2-10__input" placeholder="Противо откат" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g20-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g20" id="form__2-10__radio-g20-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g20-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g20" id="form__2-10__radio-g20-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g21" id="form__2-10__input-g21" class="form__2-10__input" placeholder="Запас колесо тягач" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g21-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g21" id="form__2-10__radio-g21-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g21-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g21" id="form__2-10__radio-g21-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g22" id="form__2-10__input-g22" class="form__2-10__input" placeholder="Запас колесо ППЦ" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g22-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g22" id="form__2-10__radio-g22-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g22-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g22" id="form__2-10__radio-g22-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g23" id="form__2-10__input-g23" class="form__2-10__input" placeholder="Балонный ключ" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g23-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g23" id="form__2-10__radio-g23-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g23-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g23" id="form__2-10__radio-g23-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>


                <input type="text" name="form__2-10__input-g24" id="form__2-10__input-g24" class="form__2-10__input" placeholder="Стяжные ремни" disabled>
                <div class="row">
                    <label for="form__2-10__input-g24-1" class="form__2-10__label">
                        <input type="number" name="form__2-10__input-g24" id="form__2-10__input-g24-1" class="form__2-10__input" min="0" max="9999" value=0>
                    </label>
                    <label for="form__2-10__input-g24-2" class="form__2-10__label">
                        <input type="text" name="form__2-10__input-g24" id="form__2-10__input-g24-2" class="form__2-10__input" placeholder="шт" disabled>
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g25" id="form__2-10__input-g25" class="form__2-10__input" placeholder="Багор для закр. крыши" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g25-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g25" id="form__2-10__radio-g25-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g25-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g25" id="form__2-10__radio-g25-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>


                <input type="text" name="form__2-10__input-g26" id="form__2-10__input-g26" class="form__2-10__input" placeholder="Коники" disabled>
                <div class="row">
                    <label for="form__2-10__input-g26-1" class="form__2-10__label">
                        <input type="number" name="form__2-10__input-g26" id="form__2-10__input-g26-1" class="form__2-10__input" min="0" max="9999" value=0>
                    </label>
                    <label for="form__2-10__input-g26-2" class="form__2-10__label">
                        <input type="text" name="form__2-10__input-g26" id="form__2-10__input-g26-2" class="form__2-10__input" placeholder="шт" disabled>
                    </label>
                </div>

                <input type="text" name="form__2-10__input-g27" id="form__2-10__input-g27" class="form__2-10__input" placeholder="Защит. крышки фонари" disabled>
                <div class="row">
                    <label for="form__2-10__radio-g27-1" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g27" id="form__2-10__radio-g27-1" class="form__2-10__radio" value="Да">Да
                    </label>
                    <label for="form__2-10__radio-g27-2" class="form__2-10__label">
                        <input type="radio" name="form__2-10__radio-g27" id="form__2-10__radio-g27-2" class="form__2-10__radio" value="нет">Нет
                    </label>
                </div>

                <div class="row">
                    <button form="id_form" type="submit" name="form__2-10__button-1" class="form__2-10__button" value="Назад">Назад</button>
                    <button form="id_form" type="submit" name="form__2-10__button-2" class="form__2-10__button" value="Далее"><a href="{% url 'gate_shift_change_inspection_3' %}">Далее</a></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}