{% extends 'cargoapp/main_style/main_base.html'%}

{% block content %}

<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col mx-auto">
            <form action="send_form__2-16.py" name="form__2-16" class="w-100 pt-4 pb-4 d-flex flex-column form__2-16">
                <div class="input-group mt-1">
                    <input type="text" name="form__2-16__input-1" id="form__2-16__input-1" class="form-control text-center bg-warning form__2-16__input" placeholder="н 320 ук716rus">
                </div>
                <div class="input-group mt-1">
                    <input type="text" name="form__2-16__input-2" id="form__2-16__input-2" class="form-control text-center bg-warning form__2-16__input" placeholder="8088 AA">
                </div>
                <div class="input-group mt-1">
                    <input type="text" name="form__2-16__input-3" id="form__2-16__input-3" class="form-control text-center bg-warning form__2-16__input" placeholder="">
                </div>

                <button type="button" name="form__2-16__button-1" id="form__2-16__button-1" class="btn btn-success btn-lg my-4 form__2-16__button" value="Передать ТС">Передать ТС</button>

                <div class="btn-group w-100 mt-auto pt-3" role="group">
                    <button type="button" name="form__2-16__button-back" id="form__2-16__button-back" class="btn btn-primary btn-lg form__2-16__button" value="back">Назад</button>
                    <button type="button" name="form__2-16__button-next" id="form__2-16__button-next" class="btn btn-primary btn-lg active visually-hidden form__2-16__button" value="next">Далее</button>
                </div>
                
            </form>
            
        </div>
    </div>
</div>
{% endblock %}